* {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: rgb(140, 53, 216);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(54, 196, 54);
  border-bottom-color: rgba(54, 196, 54, 0.4);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Selecting Account To Edit Or Delete */

.credit_card_selected .buttons {
  display: flex !important;
}

.credit_card_selected .credit_card {
  color: #fda629;
  border: 2px solid #fda629;
}
.credit_card_selected .material-symbols-outlined {
  display: block !important;
}


/* Calendar Customization */
.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
  background-color: #8837E9;
  border-radius: 100% !important;
  border: 0;
  box-shadow: 15px 0 0  #f9f3ff;
  -webkit-box-shadow: 15px 0 0  #f9f3ff;
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange{
  background-color: #8837E9;
  border-radius: 100% !important;
  border: 0;
}

.flatpickr-day.inRange{
  background-color: #f9f3ff ;
  border: 0;
  box-shadow: 15px 0 0  #f9f3ff;
  box-sizing: content-box;
  -webkit-box-shadow: 15px 0 0  #f9f3ff;
}


.flatpickr-current-month .flatpickr-monthDropdown-months{
   /* Reset default appearance */
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
  border: none !important ;
  outline: none !important;
}


.apexcharts-toolbar{
  z-index: 1 !important;

}